<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head', {title: 'Detalle de Producto'}) %>
    <link rel="stylesheet" href="/css/styles-p-d.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="product">
        <div class="product-image">
          <img
            src="/images/products/<%= product.imagen %>"
            alt="imagen <%= product.nombre %>"
          />
        </div>
        <div class="product-details">
          <h1><%= product.nombre %></h1>
          <p class="price">$<%= product.precio %></p>
          <p class="description"><%= product.descripcion %>.</p>
          <div class="product-actions">
            <button class="add-to-cart">Agregar al Carrito</button>
            <button class="buy-now">Comprar Ahora</button>
          </div>
        </div>
        <hr />
        <div style="display: flex; justify-content: space-around">
          <a href="/products/edit/<%= product.id %>" class="product-actions"
            ><button class="edit-product">Editar Producto</button></a
          >
          <form
            action="/products/<%= product.id %>?_method=delete"
            method="POST"
            class="product-actions"
          >
            <button type="submit" class="delete-product">
              Eliminar Producto
            </button>
          </form>
        </div>
      </div>
    </main>
    <!-- DEFINIR SI QUITAMOS ESTA SECCION
      <section class="social-ad">
      <h2>Síguenos en nuestras redes sociales</h2>
      <div class="social-icons">
        <a href="#"><img src="instagram-icon.png" alt="Instagram" /></a>
        <a href="#"><img src="twitter-icon.png" alt="Twitter" /></a>
      </div>
    </section> -->

    <footer>
      <p>&copy; 2023 HorizonX. Todos los derechos reservados.</p>
    </footer>

    <script src="scripts.js"></script>
    <footer class="foot"><%- include("../partials/footer") %></footer>
  </body>
</html>
