<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'All Products'}) %>
    <link rel="stylesheet" href="/css/styles-carrito.css" />
  </head>
<body>
    <!-- Header -->
    <%- include("../partials/header") %>
     <!-- Header -->
    
     <!-- todos los productos -->
     <!-- marca lenovo -->
    <section>
        <article>
            <H3>LENOVO</H3>
            <div class="tarjetas flex">
                      
                <% productsLenovo.forEach(product => { %>
                    <%- include("../partials/product-card",{product}) %>   
                <% }); %>
        </article>

        <article>
            <a id="Apple"></a>
            <h3>APPLE</h3>
            <div class="tarjetas flex">
                      
                <% productsApple.forEach(product => { %>
                    <%- include("../partials/product-card",{product}) %>   
                <% }); %>
        </article>

        <article>
            <a id="asus"></a>
            <h3>ASUS</h3>
            
            <div class="tarjetas flex">
                      
                <% productsAsus.forEach(product => { %>
                    <%- include("../partials/product-card",{product}) %>   
                <% }); %>
        </article>
       

         <!-- /////////----OTRAS MARCAS ACA-------////////// -->
        
             <!-- todos los productos -->
    </section>
      <!-- footer -->
    <footer class="foot"><%- include("../partials/footer") %></footer>
      <!-- footer -->
</body>
</html>