<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head', {title: 'Crear Producto'}) %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div>
        <h2 class="reg-form-main reg-span">
          Formulario de creación de productos:
        </h2>
      </div>
      <div class="reg-form-main reg-flex reg-flex-center">
        <form
          action="/products"
          method="post"
          enctype="multipart/form-data"
          class="reg-grow-70 reg-md-flex"
        >
          <div class="reg-mb-15 reg-md-prod">
            <label for="name">Nombre:</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="nombre del producto"
              class="reg-form-input"
              value="<%= locals.oldData? oldData.name : null %>"
            />
            <% if (locals.errors && errors.name) { %>
            <div class="reg-text-danger"><%= errors.name.msg %></div>
            <% } %>
          </div>

          <div class="reg-mb-15 reg-md-prod">
            <label for="price">Precio:</label>
            <input
              type="number"
              name="price"
              step="0.01"
              id="price"
              placeholder="123.45"
              class="reg-form-input"
              value="<%= locals.oldData? oldData.price : null %>"
            />
            <% if (locals.errors && errors.price) { %>
            <div class="reg-text-danger"><%= errors.price.msg %></div>
            <% } %>
          </div>

          <div class="reg-mb-15 reg-md-prod">
            <label for="brand_id">Marca:</label>
            <select name="brand_id" id="brand_id" class="reg-form-input">
              <option value="">Elegí una marca</option>
              <option value="asus" <% if (locals.oldData && oldData.brand_id=="asus") { %>
               selected
              <% } %>>ASUS</option>
              <option value="lenovo" <% if (locals.oldData && oldData.brand_id=="lenovo") { %>
               selected
              <% } %>>Lenovo</option>
              <option value="apple" <% if (locals.oldData && oldData.brand_id=="apple") { %>
               selected
              <% } %>>Apple</option>
              <option value="corsair" <% if (locals.oldData && oldData.brand_id=="corsair") { %>
               selected
              <% } %>>Corsair</option>
              <option value="razer" <% if (locals.oldData && oldData.brand_id=="razer") { %>
               selected
              <% } %>>Razer</option>
            </select>
            <% if (locals.errors && errors.brand_id) { %>
            <div class="reg-text-danger"><%= errors.brand_id.msg %></div>
            <% } %>
          </div>

          <div class="reg-mb-15 reg-md-prod">
            <label for="category_id">Categoría:</label>
            <select name="category_id" id="category_id" class="reg-form-input">
              <option value="">Elegí una categoría</option>
              <option value="celulares" <% if (locals.oldData && oldData.category_id=="celulares") { %>
               selected
              <% } %>>Celulares</option>
              <option value="pcs" <% if (locals.oldData && oldData.category_id=="pcs") { %>
               selected
              <% } %>>PCs</option>
              <option value="accesorios" <% if (locals.oldData && oldData.category_id=="accesorios") { %>
               selected
              <% } %>>Accesorios</option>
            </select>
            <% if (locals.errors && errors.category_id) { %>
            <div class="reg-text-danger"><%= errors.category_id.msg %></div>
            <% } %>
          </div>

          <div class="reg-mb-15 reg-md-prod">
            <label>Descripción:</label>
            <textarea
              name="description"
              maxlength="500"
              placeholder="describi el producto"
              class="reg-form-input"
            ></textarea>
            <% if (locals.errors && errors.description) { %>
            <div class="reg-text-danger"><%= errors.description.msg %></div>
            <% } %>
          </div>

          <div class="reg-mb-15 reg-md-prod">
            <label for="image">Imagen del producto:</label>
            <input
              type="file"
              name="image"
              id="image"
              class="reg-form-input"
            />
          </div>

          <!-- <div class="reg-mb-15 reg-md-prod">
            <label for="masBuscado">Producto mas buscado?:</label>
            <select name="masBuscado" id="masBuscado" class="reg-form-input">
              <option value="">Seleccioná</option>
              <option value="si">Si</option>
              <option value="no">No</option>
            </select>
          </div> -->
          <hr class="reg-linea" />

          <div class="reg-mb-15 reg-flex reg-flex-center">
            <button type="submit" class="reg-button">Crear Producto</button>

            <button type="reset" class="reg-button-login">Cancelar</button>
          </div>
        </form>
      </div>
    </main>

    <footer class="h-foot"><%- include('../partials/footer') %></footer>
  </body>
</html>
