<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Carrito de Compras'}) %>
    <link rel="stylesheet" href="/css/styles-carrito.css" />
    <link rel="stylesheet" href="/css/styles-p-d.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <h1>Carrito de Compras</h1>
      <form id="carritoForm" action="" method="post">
        <section class="productos">
          <ul class="productos-lista">

          <% products.forEach(product => { %>
          <li class="producto" data-id="<%= product.id %>">
            <img
              src="/images/products/<%= product.image %>"
              alt="imagen de <%= product.name %>"
            />
            <h3><%= product.name %></h3>
            <p>Precio: $<%= product.price %></p>
            <p>
              Cantidad:
              <input
                type="number"
                class="cantidad"
                value="1"
                min="0"
                step="1"
              />
            </p>
          </li>
          <% }) %>
        </section>
        <section class="carrito">
          <p>Total: $<span id="total">0.00</span></p>
        </section>
        <button type="submit" class="buy-now">Comprar</button>
      </form>
    </main>
    <footer class="foot"><%- include("../partials/footer") %></footer>
  </body>
</html>
