<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Carrito de Compras'}) %>
    <link rel="stylesheet" href="/css/styles-carrito.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <section class="productos">
        <% products.forEach(product => { %>
        <div class="producto">
          <img
            src="/images/products/<%= product.image %>"
            alt="imagen de <%= product.name %>"
          />
          <h3><%= product.name %></h3>
          <p>Precio: $<%= product.price %></p>
          <p>Cantidad:</p>
          <button class="agregar">Agregar al carrito</button>
        </div>
        <% }) %>
      </section>
      <section class="carrito">
        <h2>Carrito de Compras</h2>
        <ul class="lista-carrito">
          <!-- Los productos seleccionados se mostrarán aquí -->
        </ul>
        <p>Total: $<span id="total">0.00</span></p>
      </section>
    </main>
    <script src="script.js"></script>
    <footer class="foot"><%- include("../partials/footer") %></footer>
  </body>
</html>
