<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Tu búsqueda'}) %>
    <link rel="stylesheet" href="/css/styles-carrito.css" />
    <link rel="stylesheet" href="/css/styles-p-d.css" />

  </head>
<body>
    <!-- Header -->
    <%- include("../partials/header") %>
     <!-- Header -->
    
     
    <section>
        <article>
            <H3 style="text-align: center; margin-top: 10px;">TU BÚSQUEDA: <%= query %></H3>
            <div class="tarjetas flex">
                      
                <% if (products.length > 0) { %>
                <div class="tarjetas flex">
                    <% products.forEach(product => { %>
                        <%- include("../partials/product-card",{product}) %>   
                    <% }); %>
                </div>
            <% } else { %>
                <p style="text-align: center; margin-top: 20px;">No se encontraron resultados para tu búsqueda.</p>
            <% } %>
        </article>
    </section>
      <!-- footer -->
    <footer class="foot"><%- include("../partials/footer") %></footer>
      <!-- footer -->
</body>
</html>