<div class="tarjetas flex">
  <div class="tarjeta-producto flex">
    <a href="/products/<%= product.id %>">
      <div class="img-tarjeta">
        <img src="/images/products/<%= product.imagen %>" alt="" />
      </div>
      <div class="descripcion-tarjeta">
        <p><%= product.name %></p>
        <p><%= product.descripcion %></p>
      </div>
      <h3>$<%= product.price %></h3>
    </a>
  </div>
</div>
